{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block extra-css %}
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock extra-css %}

{% block content %}
  <div class="grid">
    <div class="unit-1-3 site-header">
        <div class="box">
            <div class="site-logo">
                <img src="assets/img/donkey-logo.svg" alt="spacedonkey" width="100px">
                <h1> i'm max </h1>
            </div>
            <h2> i like creating useful and beautiful things</h2>
        </div>
    </div>
    <div class="site-content">
        <div class="unit-1-3 site">
            <a class="box" href="http://ssip209.org">
                <h2 class="site__name">SSIP209.ORG</h2>
                <p class="site__info">ssip209 info</p>
                <p class="site__desc">ssip209 desc</p>
            </a>
        </div>
    </div>
  </div>
{% endblock content %}
